<p>calculadora works!</p>
<div style="text-align: center;">

<label style="margin-left: 20%; text-align: center; color:red;">{{message}}</label>
<label style="margin-left: 20%; text-align: center;">{{number}}</label>
<br>

<button type="button" class="btn btn-warning" (click)="(clean())" style="width: 5%; text-align: centralized">AC</button>
<button type="button" class="btn btn-danger" (click)="(undo())" style="width: 5%; text-align: centralized">Del</button>
<button type="button" class="btn btn-success" (click)="(calculate('%'))" style="width: 5%">%</button>
<button type="button" class="btn btn-primary" (click)="(calculate('/'))" style="width: 5%">÷</button>
<br>
<button type="button" class="btn btn-secondary" (click)="(calculate('7'))" style="width: 5%; text-align: centralized">7</button>
<button type="button" class="btn btn-secondary" (click)="(calculate('8'))" style="width: 5%; text-align: centralized">8</button>
<button type="button" class="btn btn-secondary" (click)="(calculate('9'))" style="width: 5%; text-align: centralized">9</button>
<button type="button" class="btn btn-primary" (click)="(calculate('*'))" style="width: 5%; text-align: centralized">x</button>
<br>
<button type="button" class="btn btn-secondary" (click)="(calculate('4'))"  style="width: 5%; text-align: centralized">4</button>
<button type="button" class="btn btn-secondary" (click)="(calculate('5'))"  style="width: 5%; text-align: centralized">5</button>
<button type="button" class="btn btn-secondary" (click)="(calculate('6'))"  style="width: 5%; text-align: centralized">6</button>
<button type="button" class="btn btn-primary" (click)="(calculate('-'))"  style="width: 5%; text-align: centralized">-</button>
<br>
<button type="button" class="btn btn-secondary" (click)="(calculate('1'))"  style="width: 5%; text-align: centralized">1</button>
<button type="button" class="btn btn-secondary" (click)="(calculate('2'))"  style="width: 5%; text-align: centralized">2</button>
<button type="button" class="btn btn-secondary" (click)="(calculate('3'))"  style="width: 5%; text-align: centralized">3</button>
<button type="button" class="btn btn-primary" (click)="(calculate('+'))"  style="width: 5%; text-align: centralized">+</button>
<br>
<button type="button" class="btn btn-secondary" (click)="(calculate('0'))" style="width: 5%; text-align: centralized">0</button>
<button type="button" class="btn btn-secondary" (click)="(calculate('00'))"  style="width: 5%; text-align: centralized">00</button>
<button type="button" class="btn btn-secondary" (click)="(calculate('.'))"  style="width: 5%; text-align: centralized">.</button>
<button type="button" class="btn btn-info" (click)="(evalExpr())" style="width: 5%; text-align: centralized">=</button>
</div>
<br>
